@model Blog


	<div class="blog-grid-top">
		<div class="b-grid-top">
			<div class="blog_info_left_grid">
				<a href="single.html">
					<img src="@Model.BlogImage" class="img-fluid" alt="">
				</a>
			</div>
			<div class="blog-info-middle">
				<ul>
					<li>
						<a href="#">
							<i class="far fa-calendar-alt"></i> @(((DateTime)Model.BlogCreateDate).ToString("dd-MMM-yyyy"))
						</a>
					</li>
					<li class="mx-2">
						<a href="#">
							<i class="far fa-thumbs-up"></i> 0
						</a>
					</li>
					<li>
						<a href="#">
							<i class="far fa-comment"></i> 0
						</a>
					</li>

				</ul>
			</div>
		</div>

		<h3>
			<a href="single.html"> @Model.BlogTitle </a>
		</h3>
		<p>
			@Model.BlogContent
		</p>
		<a href="single.html" class="btn btn-primary read-m">Blog Listesi</a>
	</div>
