@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-primary">Yazar Listesi </button>
<button type="button" id="btngetbyid" class="btn btn-success">Yazar Getir </button>
<button type="button" id="btnaddwriter" class="btn btn-info">Yazar Ekle </button>
<button type="button" id="btndeletewriter" class="btn btn-danger">Yazar Sil </button>
<button type="button" id="btnupdatewriter" class="btn btn-warning">Yazar Güncelle </button>


<br />
<br />
<div id="writerlist">
	Bu kısıma yazarlar gelecek
</div>
<br />

<div id="writerget">
	Buraya 1 yazar gelecek
</div>

<br />
<div>
	<input type="text" id="writerid" placeholder="Yazar ID Değerini Girin" class="form-control" />
</div>

<br />
<br />
<div>
	<input type="text" class="form-control" id="txtwriterid" placeholder="Yazar ID " />
	<input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı " />
</div>
<br />
<div>
	<input type="text" id="txtid" placeholder="Silinecek Yazar ID " class="form-control" />
</div>

<br />
<div>
	<input type="text" id="txtid1" placeholder="Güncellenecek  ID " class="form-control" />
	<input type="text" id="txtwritername1" placeholder="Güncellenecek  İsim " class="form-control" />
</div>


@section scripts {
	<script>
		//Listeleme işlemi
		$("#btngetlist").click(function(){
			$.ajax({
				contentType:"application/json",
				dataType:"json",
				type:"Get",
				url:"/Writer/WriterAjax/WriterList/",
				success:function(func){
					let w=jQuery.parseJSON(func);
					console.log(w);
					let tablehtml="<table class=table table-bordered> <tr> <th>Yazar Id</th> <th>Yazar Adı </th> </tr>";
					$.each(w,(index,value)=>{
						tablehtml+=`<tr><td> ${value.Id}</td> <td> ${value.Name}</td></tr>`
					});
					tablehtml+="</table>";
					$("#writerlist").html(tablehtml);

				}
			});
		});

		//Id'ye göre getirme  işlemi

		$("#btngetbyid").click(x=> {
			let id=$("#writerid").val();
			$.ajax({
				contentType:"application/json",
				dataType:"json",
				type:"Get",
				url:"/Writer/WriterAjax/GetWriterById/",
				data:{writerid:id},
				success:function(func){
					let w=jQuery.parseJSON(func);
					console.log(w);

					let getvalue=`<table class=table table-bordered> <tr> <th>Yazar Id </th>  <th>Yazar Adı </th> </tr> <tr> <td> ${w.Id}</td> <td> ${w.Name} </td> </tr> </table> `;
					$("#writerget").html(getvalue);
				}
			});
		});

		//Ekleme işlemi
		$("#btnaddwriter").click(function() {
			let writer={
				Id:$("#txtwriterid").val(),
				Name:$("#txtwritername").val()
			};

			$.ajax({
				type:"post",
				url:"/Writer/WriterAjax/AddWriter/",
				data:writer,
				success:function(func){
					let result=jQuery.parseJSON(func);
					alert("Yazar Ekleme İşlemi Başarılı Bir Şekilde Gerçekleşti");
				}
			});
		});

		//Silme işlemi
		$("#btndeletewriter").click(x=>{
			let id=$("#txtid").val();

			$.ajax({
				url:"/Writer/WriterAjax/DeleteWriter/"+id,
				type:"post",
				dataType:"json",
				success:function(func){
					alert("Yazar Silme İşlemi Başarılı Bir Şekilde Gerçekleşti");
				}

			});
		});

		//Güncelleme İşlemi
		$("#btnupdatewriter").click(function(){
			let writer={
				Id:$("#txtid1").val(),
				Name:$("#txtwritername1").val()

			};

			$.ajax({
				type:"post",
				url:"/Writer/WriterAjax/UpdateWriter/",
				data:writer,
				success:function(funk){
					alert("Güncelleme Yapıldı");
				}
			});
		});


	</script>
}

