@{
	ViewData["Title"] = "BlogListExcel";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>BlogListExcel</h1>
<br />
@*  <button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel Lsitesini İndir </button> *@

<a href="/Admin/Excel/ExportStaticExelStaticList/" class="btn btn-info">Excel Lsitesini İndir</a>
@* <script>

	function DownloadExcelBlogList()
	{
		wind.open("/Admin/Excel/ExportStaticExelStaticList/");
	}

</script>  *@

