
@{
    ViewData["Title"] = "BlogTitleExcel";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>BlogTitleExcel</h1>
<br />
<a href="/Admin/Excel/ExportDynamicExcelBlogList/" class="btn btn-info">Excel Listesini İndir</a>

